<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- LOOP OVER THE COLLECTION OF PRODUCTS -->
        @for (tempProduct of products; track $index) {
          <div class="col-md-3">
            <div class="product-box">
              <a routerLink="/products/{{ tempProduct.id }}">
                <img src="{{ tempProduct.imageUrl }}" alt="" class="image-responsive" />
              </a>
              <div class="product-btm">
                <a routerLink="/products/{{ tempProduct.id }}">
                  <h1>
                    <a href="#">{{ tempProduct.name }}</a>
                  </h1>
                </a>
                <div class="price">
                  <span>{{ tempProduct.unitPrice | currency: 'USD' }}</span>
                </div>
                <a href="#" class="primary-btn">Add to Cart</a>
              </div>
            </div>
          </div>
        }
        <!-- IF PRODUCTS EMPTY THEN DISPLAY MESSAGE -->
        @if (products?.length == 0) {
          <div class="alert alert-warning col-md-12" role="alert">No products found.</div>
        }
      </div>
    </div>
  </div>
</div>
